<div class="container">
  <br>
  <h2>Detalles del Producto</h2>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{ producto.Detalle }}</h5>
      <img [src]="producto.Imagen" alt="Imagen del Producto" width="300" class="img-thumbnail">
      <p class="card-text"><strong>Descripción:</strong> {{ producto.Descripcion }}</p>
      <p class="card-text"><strong>Precio:</strong> {{ producto.Precio }}</p>
      <p class="card-text"><strong>Estado:</strong> {{ producto.Estado }}</p>
      <p class="card-text"><strong>ID:</strong> {{ producto.Id }}</p>
      <a [routerLink]="['/productos']" class="btn btn-primary">Volver al listado</a>
    </div>
  </div>
</div>
